services:

  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    working_dir: /app/src
    command: fastapi dev api/main.py --host 0.0.0.0

  ui:
    build:
      context: ./ui
      dockerfile: ../docker/ui/Dockerfile
    depends_on:
      - api
    ports:
      - "5173:5173"
    env_file:
      - .env
    working_dir: /app/src
    command: npm run dev
